.footer {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: $main;
    opacity: .2;
  }
}
.footer-container {
  width: 100%;
  margin: 0 auto;
  padding: 24px 32px;
}
.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}
.footer-signature {
  transition: .2s;
  &:hover {
    color: $accent;
  }
}