.wrapper {
  position: relative;
}
section {
  margin: 0 0 160px 0;
  @media screen and (max-width: 840px) {
    margin: 0 0 120px 0;
  }
  @media screen and (max-width: 550px) {
    margin: 0 0 80px 0;
  }
}
.title-section {
  font-family: 'Lora', serif;
  font-size: 28px;
  text-align: center;
  margin: 0 0 32px 0;
  @media screen and (max-width: 650px) {
    font-size: 24px;
  }
}
.title-sidebar {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 9px;
  text-transform: uppercase;
}

// Стили для узора разделяющего разделы
.pattern__body {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  pointer-events: none;
}

.sticky {
  position: fixed;
  z-index: 101;
}
.stop {
  position: relative;
  z-index: 101;
}