.nav {
  width: 100%;
  height: 90px;
  margin: 0;
  @media screen and (max-width: 768px) {
    height: 60px;
  }
  &__container {
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 0 42px;
    @media screen and (max-width: 520px) {
      padding: 0 32px;
    }
  }
}
.nav__body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  // padding: 38px 0;
}
.nav__contact {
  width: 50%;
  display: flex;
  align-items: center;
  margin: 0 auto 0 0;
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.nav-phone {
  font-weight: 600;
  margin: 0 16px 0 0;
  transition: .2s;
  &:hover {
    color: $accent;
  }
}
.nav__messengers {
  display: flex;
  align-items: center;
  & a {
    width: 24px;
    height: 24px;
    margin: 0 12px 0 0;
    & svg path {
      transition: .2s;
      
    }
    &:last-child {
      margin: 0;
    }
    &:hover svg path {
      fill-opacity: 1;
    }
  }
}
.nav-logo {
  width: 40%;
  height: 20px;
  text-align: center;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 170px;
    height: 100%;
    transform: translate(-50%,-50%);
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  @media screen and (max-width: 870px) {
    width: 50%;
    &:before {
      top: 0;
      left: 0;
      transform: none;
    }
  }
}
.nav-burger {
  width: 50%;
  text-align: right;
}

// Бургер меню

.nav__menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(33,33,33,.5);
  overflow-y: auto;
  overflow-x: hidden;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  z-index: 100;
  &__body {
    max-width: 360px;
    width: 100%;
    min-height: 650px;
    height: 100%;
    background: #fff;
    margin: 0 0 0 auto;
    transform: translate(100%,0);
    transition: .3s;
  }
  &._show {
    visibility: visible;
    opacity: 1;
    & .nav__menu__body {
      transform: translate(0,0);
    }
  }
}
.nav__menu__header {
  height: 90px;
  display: flex;
  align-items: center;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: $main;
    opacity: .1;
  }
  @media screen and (max-width: 768px) {
    height: 60px;
  }
}
.nav__menu__header__container {
  width: 100%;
  padding: 0 42px 0 20px;
  @media screen and (max-width: 520px) {
    padding: 0 32px 0 20px;
  }
}
.nav__menu__header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__menu__list {
  display: flex;
  flex-direction: column;
  padding: 36px 0;
}
.nav__menu__item {
  width: 100%;
  display: flex;
  align-items: center;
  & a {
    transition: .2s;
    &:hover p {
      color: $accent;
    }
    &.nav__menu-arrow:hover svg path {
      stroke: $accent;
    }
  }
  &__contact {
    display: none;
    width: 100%;
    padding: 16px 32px;
    @media screen and (max-width: 768px) {
      display: flex;
    }
  }
}
.nav__menu__accordion__header svg {
  transition: .2s;
}
.nav__menu__accordion__header._active svg {
  transform: scale(-1,-1);
  transform-origin: center;
}
.nav__menu__accordion {
  flex-wrap: wrap;
  &__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: .2s;
  }
  &__item a{
    width: 100%;
    padding-left: 42px;
    & p {
      font-size: 13px;
      opacity: .7;
    }
  }
}
.nav__menu__link {
  width: 80%;
  padding: 16px 32px;
  & p {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
}
.nav__menu-arrow {
  width: 20%;
  height: 100%;
  text-align: center;
  padding: 16px 0;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
    width: 1px;
    height: 50%;
    background: $outline;
    opacity: .7;
  }
  & ~ .nav__menu__link {
    padding: 16px 0 16px 32px;
  }
}

.nav__menu__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  &__body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
  }
  &__lang {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.nav-signup-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.nav-signup__body {
  padding: 36px 0;
}
.nav-signup-form {
  margin: 0 0 42px 0;
}
.nav-signup-input {
  width: 100%;
  height: 32px;
  border: 1px solid rgba(33,33,33,.2);
  margin: 0 0 10px 0;
  padding: 0 12px;
  &::placeholder {
    color: rgba(33,33,33,.5)
  }
}
.nav-sign-input-message {
  max-width: 320px;
  min-height: 64px;
  padding: 9px 12px;
}
.nav-signup-btn {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid $accent;
  color: $accent;
  margin: 12px 0 0 0;
  transition: .2s;
  &:hover {
    background: $accent;
    color: #fff;
  }
}
.nav-signup-more-title {
  font-weight: 600;
  margin: 0 0 16px 0;
}
.nav-signup__messengers {
  width: 100%;
  display: flex;
  align-items: center;
}
.nav-signup-messenger {
  width: 50%;
  height: 32px;
  margin: 0 10px 0 0;
  &:last-child {
    margin: 0;
  }
  &:nth-child(1) .nav-signup-messenger-link {
    background: #48C95F;
  }
  &:nth-child(2) .nav-signup-messenger-link {
    background: #2F89CE;
  }
}
.nav-signup-messenger-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border-radius: 4px;
}
.nav-signup-messenger-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px 0 0;
}
.nav-signup-messenger-text {
  color: #FFFFFF;
}