.signup-form {
  max-width: 700px;
  width: 100%;
  margin: 64px auto 0 auto;
  @media screen and (max-width: 700px) {
    margin: 0 auto;
  }
  & form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media screen and (max-width: 700px) {
      grid-template-columns: 1fr;
     }
    & input,
    & button {
      margin: 0 12px;
      height: 42px;
      @media screen and (max-width: 700px) {
        margin: 12px 0;
      }
    }
  }
}
.signup-input {
  height: 42px;
  position: relative;
  border-bottom: 1px solid rgba(21,21,21,.2);
  font-size: 16px;
  padding: 0 4px;
}
.signup-button {
  background: $accent;
  font-size: 15px;
  font-weight: 500;
  color: #FFFFFF;
}